{% extends 'base.html.twig' %}

{% block stylesheets %}

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .item-pages{
        grid-column: span 2 / auto;
    }

    .item-pages a {
        border: 2px skyblue solid;
        border-radius: 10px;
        background: skyblue;
        margin: 10px;
        padding-left: 15px;
        padding-right: 15px
    }

    .item-pages a:hover {
        background: #79b9d3;
    }

    .adder {
        border: 2px skyblue solid;
        border-radius: 10px;
        background: skyblue;
        padding: .5em;
    }

    .adder:hover {
     background: #79b9d3;
    }

{% endblock %}

{% block body %}
    <div class="container">
        <div class="item-first">
            <h3>Авторы</h3>
            <ul>
                {% for author in authors %}
                    <li><a href="/author/{{ author.id }}/profile">{{ author.name }}</a> </li>
                {% endfor %}
            </ul>
            <a class="adder" href="/author/add">Добавить автора</a>
        </div>
        <div class="item-second">
            <h3>Книги</h3>
            <ul>
                {% if not books %}
                    <li>Книг нет, ну или больше нет.</li>
                {% endif %}
                {% for book in books %}
                    <li><a href="/book/{{ book.id }}/profile">Название - {{ book.title }}. ISBN {{ book.isbn }}</a> </li>
                {% endfor %}
            </ul>
            <a class="adder" href="/book/add">Добавить книгу</a>
        </div>
        <div class="item-pages">
            <p>
                {% for page in 1..pages %}
                    <a href="/{{ page }}">{{ page }}</a>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
